<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/_tophalf.ejs") %>
<body>
<%- include ("../partials/_header.ejs") %>
<main>
  <div class="container">
    <h1>Welcome <%= user.firstName %> </h1>
    <h4>Your Stories</h4>
  </div>
</main>
<%- include ("../partials/_footer.ejs") %>
<%- include ("../partials/_bottomhalf.ejs") %>
</body>
</html>
