<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/_tophalf.ejs") %>
<body>
      <%- include ("../partials/_header.ejs") %>
<main>
  <div class="container">
    <h2 class="header pink-text">Stories</h2>
    <div class="row">
      <% if (stories.length>0){ %>
        <% stories.forEach(story => { %>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image">
              <% if (user) { %>
                <%- editIcon.editIcon(story.user._id, user.id, story._id)%>
              <% } %>
            </div>
            <div class="card-content center-align">
              <span class="card-title"><%= story.title %></span>
              <p class="story-body"><%= truncate.truncate(stripTags.stripTags(story.body), 150) %></p>
              <br>
                <div class="chip">
                <img src="<%= story.user.image %>">
                <%= story.user.firstName %> <%= story.user.lastName %>
                </div>
            </div>
            <div class="card-action center-align">
              <a class="btn-grey" href="/stories/show/<%= story._id%>">
                 Read more
              </a>
            </div>
          </div>
        </div>
      <% }) %>
      <% } else { %>
      <h3>No stories to display...</h3>
      <% if (!user) { %>
      <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google </a>
      <% } %>
      <% } %>
    </div>
  </div>
</main>
  <%- include ("../partials/_footer.ejs") %>
  <%- include ("../partials/_bottomhalf.ejs") %>
</body>
<!-- truncate.truncate(story.body, 150) -->
</html>
